{% extends 'layout.html.twig' %}

{% block title %}Événements | Supprimer{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/delete_events.css">{% endblock %}

{% block content %}
    <section class="events">
        <header class="header">
            <div class="container h-100 justify-around">
                <div class="row h-75 align-items-center">
                    <div class="col-12">
                        <h1>Supprimer un événement</h1>
                    </div>
                </div>
            </div>
        </header>


        <div class="container confirmation">
            <p class="row text-center justify-content-center">
                Voulez-vous vraiment supprimer l'événement "{{ event.title }}" du {{ event.date|date("d/m/Y") }} ? <br />
                Ça sera définitif !
            </p>
            <div class="row text-center buttons justify-content-around">
                <a class="btn btn-primary" href="/event/admin">
                    Retour à l'index
                </a>

                <form method="post">
                    <button type="submit" class="btn btn-primary button-warning">
                        Supprimer l'événement
                    </button>
                </form>
            </div>
        </div>


    </section>
{% endblock %}