{% extends 'layout.html.twig' %}

{% block title %}Événements | Ajouter{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/add_events.css">{% endblock %}

{% block content %}
    <section class="events">
        <header class="header">
            <div class="container h-100 justify-around">
                <div class="row h-75 align-items-center">
                    <div class="col-12">
                        <h1>Ajouter un événement</h1>
                    </div>
                </div>
            </div>
        </header>


    </section>
{% endblock %}