{% extends 'layout.html.twig' %}

{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>Association Mycologique et Botanique du Loiret</h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-6 col-md-7 col-xl-8">
                    <p>L’Association Mycologique et Botanique du Loiret a pour but de vous faire découvrir la biodiversité de notre beau département.
                        À travers différentes initiatives comme les rassemblements, randonnées pédestres, conférences et développement d’actions environnementales, l’AMBL propose à ses adhérents et adhérentes diverses activités constructives, basées sur l’apprentissage et la découverte de la flore locale.
                        L’AMBL sera ravie de vous compter parmi ses rangs si vous ne faites pas encore partie de notre association !
                </div>
                <div class="col-sm-6 col-md-5 col-xl-4">
                    <img clas="img-fluid" src="assets/images/image_champignon.jpeg" alt="">
                </div>
            </div>
        </div>
    </header>

{% endblock %}
