{% extends 'layout.html.twig' %}

{% block content %}
    <header class="header">
        <div class="container h-100">
            <div class="row h-50 align-items-center justify-content-center">
                <div class="col-12">
                    <h1>Association Mycologique et Botanique du Loiret</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-7 col-xl-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque delectus dolorem ducimus
                        eos, ex fugiat incidunt mollitia obcaecati officia pariatur possimus quibusdam
                        quisquam repellendus sed tenetur totam, velit voluptas.
                    </p>
                </div>
                <div class="col-sm-6 col-md-5 col-xl-4">
                    <img clas="img-fluid" src="https://via.placeholder.com/300x300" alt="">
                </div>
            </div>
        </div>
    </header>

{% endblock %}
