<nav class="navbar navbar-expand-lg navbar-dark ">


    <a class="navbar-brand d-flex align-items-center" href="/home/index">

        <img src="/assets/images/logo_ambl.png" class="d-inline-block align-top logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/association/index">Association</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events/index">Événements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/catalog/index">Catalogue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ressources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Identifier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Adhérer</a>
            </li>
        </ul>
    </div>
</nav>