{% extends 'layout.html.twig' %}

{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>Catalogue</h1>
                </div>
            </div>
        </div>
    </header>

{% endblock %}