.asso_goals{
    margin: var(--spacing-lg);
    padding: var(--spacing-lg);
}

.asso-description{

    margin: var(--spacing);

    font-size: var(--text-size);

    padding-left: var(--spacing-xlg);
    padding-right: var(--spacing-xlg)

}

.card-img-top {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.card {
    align-items: center;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
    width: 18rem;
}
