.btn_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.btn_action .box_btn {
    margin-right: 5px;
}

.catalog-section .card-block-header {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 33vh;
}

.catalog-section .card-block-header a {
    color: var(--light);
}

.catalog-section .card-block-header i {
    font-size: 2rem;
}

.message-box {
    display: none;
}

.message-box:not(empty){
    display: block;
}

.block-title-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.block-title-page .icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.block-title-page h1 {
    margin-left: 10px;
}

@media screen and (max-width: 800px){
    .catalog-section .card {
        width: 100%;
    }
}