.catalog-section {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.catalog-card {
    border: 1px solid #eee;
}

.catalog-card-header {
    position: relative;
}

.catalog-card-header .picture {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.catalog-card-header .picture:hover {
    opacity: .85;
}

.catalog-card-header .card-icon {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);
    padding:4px;
}

.catalog-card-header .card-icon .icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    background-color: var(--icon-color);
}

.catalog-card-header .catalog-card-category {
    position: absolute;
    left: 0;
    bottom: 0;
}

.catalog-card-header .catalog-card-category .text-category {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 5px 20px;
}

.status {
    background-color: var(--main-color);
}

.status-danger {
    background-color: var(--color-status-toxic);
}

.status-warning {
    background-color: var(--color-status-mortel);
}

.catalog-card-content {
    padding: 30px 20px;
}

.catalog-card-content .block-title h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--dark);
}

.block-title-link {
    color: var(--dark);
    text-decoration: none;
}

.block-title-link:hover {
    color: var(--dark);
    text-decoration: none;
}

.catalog-card-content .box_btn {
    display: inline-block;
    background-color: var(--button-color);
    padding: 5px 15px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
    border: none;
}

.box_btn {
    overflow: hidden;
    z-index: 2;
    transition: .5s;
    position: relative;
    text-decoration:none;
}

.box_btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--button-color-hover);
    left: -100%;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: -1;
}

.box_btn:hover {
    text-decoration: none;
}

.box_btn:hover::before {
    left: 0;
    z-index: -1;
}

.modal-catalog {
    color: var(--light);
    background-color: var(--main-lighter);
}

.modal img {
    max-height: 100%;
    max-width: 100%;
}

.div-pagination {
    margin-bottom: 10px;
}
.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pagination .page-link {
    color: var(--dark);
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background-color: var(--button-color-hover);
    color: white;
    border-color: var(--button-color-hover);
}

.pagination .page-item .page-link:hover {
    background-color: var(--button-color-hover);
    color: white;
}