.catalog {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
}

.catalog .card img {
    min-height: 300px;
    object-fit: cover;
}

.modal-catalog {
    color: var(--light);
    background-color: var(--main-lighter);
}

.modal img {
    max-width: 100%;
}