.confirmation{
    margin-top: var(--spacing);
    margin-bottom: var(--spacing-lg);
}

p{
    font-size: 1.8rem;
}

.buttons{
    margin-top: var(--spacing-lg);
}

.button-warning{
    background-color: var(--error-color);
}

.button-warning:hover{
    background-color: var(--contact-show-errors);
}