.list-events{
    margin-bottom: var(--spacing-lg);
}

thead{
    background-color: var(--main-lighter);
}

a:hover{
    text-decoration: none;
}

.button-add-events{
    margin-top: var(--spacing);
    margin-bottom:  var(--spacing);
}

.button-admin-events{
    width: 25px;
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
}

.img-admin{
    width: 25px;
}

.button-delete{
    padding: 0;
}