.header h1{
    margin-bottom: 0;
}

.header p {
    font-size: 1.3rem;
}

.header img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: var(--spacing-lg);
    border-radius: 5px;
}

h2{
    margin-top: var(--spacing-xlg);
    margin-bottom: var(--spacing-lg);
}

.button-events, .button-catalog{
    margin-top: var(--spacing);
    margin-bottom: var(--spacing-lg);
}

.next-events .card{
    margin-bottom: var(--spacing);
}

h3{
    font-size: 1.5rem;
}

.next-events .card{
    padding: 0;
}

.fields{
    position: relative;
    height: 10rem;
}

.event-title{
    position: absolute;
}

.event-location{
    position: absolute;
    top: 75px;
}

.italic{
    font-style: italic;
}

.events-icons{
    width: 25px;
    margin: var(--spacing-sm);
}