.next-events h2{
    margin: var(--spacing-lg);
}

.button-events{
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing);
}

.next-events .card{
    margin-bottom: var(--spacing);
}

h3{
    font-size: 1.5rem;
}

.next-events .card{
    padding: 0;
}