@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import "footer.css";
@import "navbar.css";

@import "header.css";

:root{
    --title-font: 'Headland One', serif;
    --main-font: 'Noto Sans TC', sans-serif;

    --spacing-sm: calc(var(--spacing) / 2);
    --spacing: 16px;
    --spacing-lg: calc(var(--spacing) * 2);
    --spacing-xlg: calc(var(--spacing-lg) * 2);

    --main-color: #634b2d;
    --secondary-color: #b7cdae;
    --button-color: #4C591E;
    --button-color-hover: #99A63C;
    --form-input-color: #2ea591;
    --dark: #100d07;
    --light: #e2f3e1;
    --light-hover: #9fad9e;
    --main-darker: #342b17;
    --main-lighter: #957144;
    --error-color : #8b0000;
    
    --contact-show-success: #9fecc1;
    --contact-show-errors: #e26060;
}

body{
    font-family: var(--main-font);
}


h1, h2{
    font-family: var(--title-font);
}

.btn-primary {
    background-color: var(--main-lighter);
    border-color: var(--main-darker);
}

.btn-primary:hover {
    background-color: var(--main-darker);
    border-color: var(--main-darker);
}



