{% extends 'layout.html.twig' %}

{% block title %}
    Identification | Admin
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/identification.css">
{% endblock %}

{% block content %}
    <section class="identification">
        <header class="header">
            <div class="container h-100 justify-around">
                <div class="row h-75 align-items-center">
                    <div class="col-12">
                        <h1>Liste des requêtes d'identification</h1>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">

        </div>
    </section>
{% endblock %}