{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/association.css">
{% endblock %}
{% block content %}
    <section class="asso">
        <h1 class="text-center">Notre association</h1>

        <h2 class="asso_goals">Les buts de l'Association</h2>

        <div class="asso-description">
            <p>Créée en juillet 2001 et officialisée au J.O. du 25 août 2011, notre association a pour but de faire découvrir la flore et les champignons ainsi que defaire connaître au public les espèces dangereuses, toxiques ou mortelles.
                Nous souhaitons également développer le goût des sciences naturelles et le respect de la nature par une meilleure connaissance des végétaux.
                Nous tenons à sensibiliser un large public sur l'importance de la préservation la flore et les biotopes nécessaires à la conservation des espèces.
                Pour ce faire, nous initions, animons, informons et formons un public intéressé par les sciences naturelles à travers diverses actions départementales et régionales.
                Divers évènements sont organisés au cours de l'année, tels que des conférences, randonnées, et sorties botaniques dans le but d'initier nos membres aux plaisirs de la nature.</p>

        </div>
    </section>
{% endblock  %}