{% extends 'layout.html.twig' %}

{% block title %}
    CatalogueAdmin | Ajouter
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/catalogAdmin.css">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>Ajout d'un élément au catalogue</h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="catalog">
            <div class="container">
                <div class="row message-box">
                    <div class="col-12">
                        {% if errors is not empty %}
                        <div class="alert alert-danger">
                            <ul>
                            {% for error in errors %}
                                {% if error is iterable %}
                                    {% for item in error %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>{{ error }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        {% include "Event/_form.html.twig" %}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <a class="btn btn-primary" href="/catalogAdmin/index">
                            Retourner à la page précédente
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}