{% extends 'layout.html.twig' %}
{%  block content %}
    <section class="contact-section">
        <h1 class="contact-h1">Prenez contact avec nous !</h1>
        <div class="container card">
            <div class="row container-form">
                <form class="contact-form" action="" method="GET">

                    <label class="contact-label" for="firstname">Votre prénom :</label>
                    <input class="contact-input" type="text" id="firstname" name="contact_firstname" placeholder="Jean" required>

                    <label class="contact-label" for="name">Votre nom :</label>
                    <input class="contact-input" type="text" id="name" name="contact_name" placeholder="Dupont" required>

                    <label class="contact-label" for="email">Votre email :</label>
                    <input class="contact-input" type="email" id="email" name="contact_email" placeholder="jean-dupont@gmail.com" required>

                    <label class="contact-label" for="phonenumber">Votre numéro de téléphone :</label>
                    <input class="contact-input" type="text" id="phonenumber" name="contact_phonenumber" placeholder="0678453421" required>

                    <label class="contact-label" for="message">Votre message :</label>
                    <textarea class="contact-textarea" id="message" name="contact_message" placeholder="Je souhaiterai des informations sur une fleur ou un champignon" required></textarea>

                    <button class="contact-button btn btn-outline-secondary" type="submit">Envoyez-nous un message</button>
                </form>
            </div>
        </div>
    </section>
{%  endblock %}